{% extends 'base.html.twig' %} {% block title %}Gestion des Menus{% endblock %}
{% block body %} {% include "nav/AdminNav.html.twig" %}
<h1>Créer un Menu</h1>

<form action=""></form>

<label for=""></label>
<select name="" id=""></select>

<div>
  <div>
    <h3>Lundi</h3>
    <input type="checkbox" name="" id="" />
    <div>
      <h4>Déjeuner A</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Déjeuner B</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Diner</h4>
      <input type="text" />
    </div>
  </div>
  <div>
    <h3>Mardi</h3>
    <input type="checkbox" name="" id="" />
    <div>
      <h4>Petit Déjeuner</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Déjeuner A</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Déjeuner B</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Diner</h4>
      <input type="text" />
    </div>
  </div>
  <div>
    <h3>Mercredi</h3>
    <input type="checkbox" name="" id="" />
    <div>
      <h4>Petit Déjeuner</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Déjeuner A</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Déjeuner B</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Diner</h4>
      <input type="text" />
    </div>
  </div>
  <div>
    <h3>Jeudi</h3>
    <input type="checkbox" name="" id="" />
    <div>
      <h4>Petit Déjeuner</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Déjeuner A</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Déjeuner B</h4>
      <input type="text" />
    </div>
    <div>
      <h4>Diner</h4>
      <input type="text" />
    </div>
  </div>
  <div>
    <h3>Vendredi</h3>
    <input type="checkbox" name="" id="" />
    <div>
      <h4>Petit Déjeuner</h4>
      <input type="text" />
    </div>
  </div>
</div>
<button type="submit">Valider</button>
</form>
{% endblock %}
