{% extends 'base.html.twig' %} {% block title %}Gestion des Menus{% endblock %}
{% block body %} {% include "nav/AdminNav.html.twig" %}
<a href="">
  <img src="" alt="" />
  <h2>Créer un Menu</h2>
</a>
<a href="">
  <img src="" alt="" />
  <h2>Consulter les Menus</h2>
</a>
<a href="">
  <img src="" alt="" />
  <h2>Bloquez la Réservation</h2>
</a>
{% endblock %}
