{% extends "base.html.twig" %} {% block body %}
<main>
  <h1>Créer un Utilisateur</h1>
  <div>
    <div></div>
    <div></div>
  </div>
</main>
{{form_start(form)}}
<button type="submit">Valider</button>
{{form_end(form)}}
{% endblock %}
