{% extends "base.html.twig" %}{% block title %}Récapitulatif de la Section{%
endblock %}{% block importmap %} {{ importmap(["app", "delegue"]) }}{% endblock
%}{% block body %} {% include "nav/Usernav.html.twig" %}
<main id="cont">
  <h1>Récapitulatif de la Section {{ section.abreviation }}</h1>
  <div id="semaineContainer">
      <label for="semaine">Selectionnez la semaine : </label
      ><select name="semaine" id="semaine"></select>
  </div>
  <div>
    <table id="recapContainer">
      <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Total de la Réservation</th>
        <th class="responsiveHide">Somme Donnée</th>
        <th class="responsiveHide">Somme à Rendre</th>
        <th class="responsiveHide">Signature</th>
      </thead>
      <tbody id="recap"></tbody>
    </table>
  </div>
  <button type="button" id="btnPrint">Imprimer</button>
</main>
{% include "nav/footer.html.twig" %} {% endblock %}
