{% extends 'base.html.twig' %} {% block title %}Accueil - Afpar à la Carte{%
endblock %} {% block body %} {% include "nav/AccueilNav.html.twig" %}
<main class="container ">
  <div><h1 class="bg-alert">Afpar à la Carte</h1></div>
  <div>
    <div><img src="{{ asset('image/afparLogo.jpg') }}" alt="" /></div>
    <div>
      <h2>Bienvenue sur le site de l'Afpar</h2>
      <a href="{{path('login')}}"><button>Se Connecter</button></a>
    </div>
  </div>
</main>
{% include "nav/footer.html.twig" %}
{% endblock %}
