#selectContainer {
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 20px;
  border: 2px solid var(--tertiary-color);
  margin: 10px;
  padding: 5px 10px;
  color: white;
  box-shadow: 5px 5px 3px grey;
}
.selectPart {
  width: 45%;
  margin: 0 10px 10px;
}
#semaine,
#section {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--tertiary-color);
  width: 100%;
}
#recapContainer {
  background-color: var(--main-color);
  border-radius: 20px;
  border: 2px solid var(--tertiary-color);
  margin: 10px auto;
  padding: 5px 10px;
  color: white;
  box-shadow: 5px 5px 3px grey;
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  table-layout: fixed;
}
#repasRow td {
  font-weight: bold;
  width: 10%;
  overflow-wrap: break-word;
}

#recapContainer th,
#recapContainer td {
  border: 1px solid var(--tertiary-color);
  padding: 8px;
  text-align: center;
  border-collapse: collapse;
  border-radius: 20px;
}
.nomColumn{

  width: 200px;
}
#btnPrint {
  width: 15%;
  text-align: center;
  font-size: 28px;
  margin: 10px;
  padding: 5px;
  box-shadow: 5px 5px 3px grey;
}
@media screen and (max-width: 1320px) {
  #recapContainer {
    table-layout: auto;
  }
}
@media screen and (max-width: 1024px) {
  #btnPrint {
    width: fit-content;
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .responsiveHide {
    display: none;
  }
  .selectPart {
    margin: 10px;
  }
  #recapContainer {
    margin: 20px auto;
    padding: 20px 10px;
  }
  #repasRow td {
    padding: 16px 12px;
    width: 50vw;
  }
}
@media screen and (max-width: 576px) {
  .selectPart {
    width: 90%;
    margin: 10px auto;
  }
}
@media print {
  /* Hide the header and any other unwanted elements when printing */
  header,
  footer {
    display: none;
  }
}
