#selectContainer {
  background-color: var(--main-color);
  color: white;
  border-radius: 20px;
  border: 2px solid var(--tertiary-color);
  padding: 5px 10px;
  box-shadow: 5px 5px 3px grey;
  margin: 2px;
}
.selectPart {
  width: 45%;
  margin: 0 10px 10px;
}
#promoSelect,
#userSelect {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--tertiary-color);
  width: 100%;
}

#successMsg {
  background-color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
  color: black;
  font-style: italic;
}

#infoPerso,
#infoAfpar {
  background-color: var(--main-color);
  width: 50%;
  text-align: center;
  color: white;
  border-radius: 20px;
  border: 2px solid var(--tertiary-color);
  margin: 10px;
  padding: 15px;
  box-shadow: 5px 5px 3px grey;
}
.infoColumn {
  text-align: left;
  margin: 8px 8px;
  padding: 5px;
  border-top: 1px solid var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infoColumn p {
  margin-bottom: 0;
  display: inline-block;
  width: 48%;
}
#btnModifier,
#btnSupprimer {
  width: 15%;
  text-align: center;
  font-size: 28px;
  margin: 10px;
  padding: 5px;
  box-shadow: 5px 5px 3px grey;
}
#delegue {
  margin-bottom: 0;
  display: inline-block;
  width: 48%;
}
#delegue input {
  width: 17px;
  height: 17px;
}

/* MODAL */

#deleteModal .modal-content {
  border: 2px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  color: black;
}
#btnDelete {
  background-color: var(--alert-color);
  color: white;
  border: 1px solid black;
}

@media screen and (max-width: 1024px) {
  #infoPerso,
  #infoAfpar {
    width: 100%;
    margin: 10px;
    padding: 15px;
  }
  .infoColumn {
    text-align: center;
    margin: 4px 2px;
    padding: 5px;
    border-bottom: 1px solid var(--tertiary-color);
  }
  #btnModifier,
  #btnSupprimer {
    width: fit-content;
    margin: 7px;
  }
}
@media screen and (max-width: 768px) {
  #infoPerso,
  #infoAfpar {
    margin: 5px;
    padding: 7px;
  }
  .infoColumn {
    margin: 4px 2px;
    padding: 3px;
    overflow-wrap: break-word;
  }
  #btnModifier,
  #btnSupprimer {
    padding: 4px 7px;
    margin: 2px;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  #selectContainer {
    text-align: center;
    margin: 7px;
    padding: 5px 10px;
    align-items: center;
  }
  .selectPart {
    width: 90%;
    margin: 3px auto;
  }
}
