/* Initiate global Variable */

:root {
  --main-color: #323250;
  --secondary-color: #00e68c;
  --tertiary-color: #ffbe00;
  --grey-color: #666666;
  --alert-color: #ff4545;
}
body {
  background-color: #f8f8f8;
  font-size: 18px;
  font-family: "Century Gothic", Arial;
  color: black;
}

header {
  width: 100%;
}
main {
  margin: 0 auto;
  width: 85%;
}
h1 {
  font-size: 54px;
  font-family: Tahoma, Arial;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0px 4px grey;
  margin: 5px;
}
h2 {
  font-size: 36px;
  font-family: Tahoma, Arial;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 36px;
  font-family: Tahoma, Arial;
}

button {
  background-color: var(--tertiary-color);
  border-radius: 50px;
  border: 2px solid black;
}

/* 
Accueil
*/

.accueilImg {
  width: 49%;
}
.accueilImg > img {
  width: 100%;
}
#btnAccueil {
  font-size: 36px;
  padding: 0.5em 1.5em;
  box-shadow: 8px 8px 5px grey;
  text-align: center;
}
#btnAccueil:hover {
  background-color: var(--main-color);
  color: white;
}

/*
Index
*/
#indexRow a {
  width: 28%;
  text-decoration: none;
}
#delegueRow a {
  width: 23%;
  text-decoration: none;
}

.blocIndex {
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--tertiary-color);
  margin: 10px;
  padding: 5px;
  height: 400px;
  border-radius: 50px;
  box-shadow: 5px 5px 3px grey;
  overflow-wrap: anywhere;
}
@media screen and (max-width: 1300px) {
  main {
    width: 95%;
  }
  #delegueRow a {
    width: 24%;
  }
}
@media screen and (max-width: 1150px) {
  #delegueRow h2 {
    font-size: 28px;
  }
  #indexRow h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 32px;
  }
  #delegueRow a {
    width: 90%;
    margin: 10px auto;
  }
  #indexRow a {
    width: 90%;
    margin: 10px auto;
  }
  .imgIndex {
    display: none;
  }
  .blocIndex {
    height: 100px;
  }
}
@media screen and (max-width: 666px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
  }
}
@media screen and (max-width: 568px) {
  #delegueRow h2 {
    font-size: 22px;
    margin: 5px;
  }
  #indexRow h2 {
    font-size: 22px;
    margin: 5px;
  }
  .blocIndex {
    height: 80px;
  }
}
