nav {
  background-color: var(--secondary-color);
  border-bottom: 2px solid var(--tertiary-color);
  width: 100%;
  max-height: 140px;
}
#navLogo {
  width: 20%;
  padding: 2px;
  max-width: 300px;
}
#navLogo > a {
  width: 100%;
}

#nav-link {
  width: 60%;
}

.dropdown {
  display: block;
  position: relative;
  width: 100%;
  overflow: visible;
  text-align: center;
  border-right: 2px solid white;
}
.dropdown a {
  display: block;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 5px 0 5px 0;
  height: 100%;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  background-color: var(--secondary-color);
}
.dropdown-content a {
  display: block;
  text-decoration: none;
  font-size: 28px;
  color: black;
  float: none;
  padding: 12px 16px;
  display: block;
  border-top: 2px solid white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown > a:hover,
.dropdown-content > a:hover {
  background-color: var(--grey-color);
  color: white;
}
#userBadge {
  width: 20%;
  margin: 10px;
  margin-top: 20px;
  font-style: italic;
  font-weight: bolder;
}
#userName {
  font-size: 18px;
  margin: 5px 10px 0px 0px;
}
#userBadge a {
  max-width: 70%;
}
#deco {
  font-size: 26px;
  background-color: var(--grey-color);
  border: 2px solid white;
  text-align: center;
  color: white;
  padding: 5px 15px 10px 15px;
}
/* Hide the link that should open and close the topnav on small screens */
nav .icon {
  display: none;
}

footer {
  background-color: var(--secondary-color);
  border-top: 2px solid var(--tertiary-color);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
