{% extends 'base.html.twig' %} {% block title %}Gestion Utilisateur{% endblock
%} {% block body %} {% include "nav/AdminNav.html.twig" %}
<main>
  <h1>Gestion des Utilisateurs</h1>
  <div
    class="d-flex flex-md-row flex-column justify-content-around"
    id="indexRow"
  >
    <a href="{{ path('security_registration') }}">
      <div class="blocIndex">
        <img src="" alt="img" class="imgIndex" />
        <h2>Créer un Utilisateur</h2>
      </div>
    </a>
    <a href="{{ path('admin_gestion_user') }}">
      <div class="blocIndex">
        <img src="" alt="img" class="imgIndex" />
        <h2>Gérer un Utilisateur</h2>
      </div>
    </a>
    <a href="{{ path('admin_section') }}">
      <div class="blocIndex">
        <img src="" alt="img" class="imgIndex" />
        <h2>Gérer les Sections</h2>
      </div>
    </a>
  </div>
</main>
{% endblock %}
