{% extends 'base.html.twig' %} {% block title %}Réservation de Repas{% endblock
%} {% block importmap %} {{ importmap(["app", "userConsultation"]) }}{% endblock
%}{% block body %} {% include "nav/UserNav.html.twig" %}
<main>
  <h1>Consulter mes Réservations</h1>

  <div id="semaineContainer" ->
    <label for="semaine"
      >Consulter ma Réservation pour la Semaine suivante:
    </label>
    <select name="semaine" id="semaine"></select>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="cardMenu">
      <h3>Lundi</h3>
      <div id="Monday"></div>
    </div>
    <div class="cardMenu">
      <h3>Mardi</h3>
      <div id="Tuesday"></div>
    </div>
    <div class="cardMenu">
      <h3>Mercredi</h3>
      <div id="Wednesday"></div>
    </div>
    <div class="cardMenu">
      <h3>Jeudi</h3>
      <div id="Thursday"></div>
    </div>
    <div class="cardMenu">
      <h3>Vendredi</h3>
      <div id="Friday"></div>
    </div>
  </div>
  <div id="montantContainer">Total: <span id="montant"></span></div>
  <div class="text-end">
    <button type="button" class="btnCreer" id="btnValider">Modifier</button>
  </div>
</main>

{% include "nav/footer.html.twig" %} {% endblock %}
