{% extends 'base.html.twig' %} {% block title %}Réservation de Repas{% endblock
%} {% block importmap %} {{ importmap(["app", "reservation"]) }}{% endblock %}{%
block body %} {% include "nav/UserNav.html.twig" %}
<main>
  <h1>Réserver un Repas</h1>
  <form action="" method="post">
    <div id="semaineContainer">
      <label for="semaine">Réserver pour la Semaine: </label>
      <select name="semaine" id="semaine"></select>
    </div>
    <div id="menuContainer">
      <div
        class="d-flex flex-sm-row flex-column justify-content-around align-items-center"
      >
        <div class="jourContainer">
          <h3>Lundi</h3>
          <div class="repasContainer" id="MondayRepas">
            <div class="repas green repasVide">
              <h4>Pas de Petit Déjeuner</h4>
              <p class="Monday" style="display: none"></p>
            </div>
            <div class="repas grey">
              <h4>Déjeuner A</h4>
              <p name="day[Monday][dejeuner_a]" class="Monday"></p>
              <input
                type="hidden"
                name="day[Monday][dejeuner]"
                class="radioMonday"
                value="false"
              />
              <input
                type="checkbox"
                name="day[Monday][dejeuner]"
                class="radioMonday"
                value="déjeuner_a"
              />
            </div>
            <div class="repas green">
              <h4>Déjeuner B</h4>
              <p class="Monday"></p>
              <input
                type="checkbox"
                name="day[Monday][dejeuner]"
                class="radioMonday"
                value="déjeuner_b"
              />
            </div>
            <div class="repas grey">
              <h4>Diner</h4>
              <p class="Monday"></p>
              <input
                type="hidden"
                name="day[Monday][diner]"
                class=""
                value="false"
              />
              <input
                type="checkbox"
                name="day[Monday][diner]"
                class=""
                value="diner"
              />
            </div>
          </div>
          <div class="ferie hidden" id="Monday">
            <div class="d-flex flex-column justify-content-center">
              <h3 class="ferieText">Férie</h3>
            </div>
          </div>
        </div>
        <div class="jourContainer">
          <h3>Mardi</h3>
          <div class="repasContainer" id="TuesdayRepas">
            <div class="repas grey">
              <h4>Petit Déjeuner</h4>
              <p class="Tuesday"></p>
              <input
                type="hidden"
                name="day[Tuesday][petit_dejeuner]"
                class=""
                value="false"
              />
              <input
                type="checkbox"
                name="day[Tuesday][petit_dejeuner]"
                class=""
                value="petit_déjeuner"
              />
            </div>
            <div class="repas green">
              <h4>Déjeuner A</h4>
              <p class="Tuesday"></p>
              <input
                type="hidden"
                name="day[Tuesday][dejeuner]"
                class="radioTuesday"
                value="false"
              />
              <input
                type="checkbox"
                name="day[Tuesday][dejeuner]"
                class="radioTuesday"
                value="déjeuner_a"
              />
            </div>
            <div class="repas grey">
              <h4>Déjeuner B</h4>
              <p class="Tuesday"></p>
              <input
                type="checkbox"
                name="day[Tuesday][dejeuner]"
                class="radioTuesday"
                value="déjeuner_b"
              />
            </div>
            <div class="repas green">
              <h4>Diner</h4>
              <p class="Tuesday"></p>
              <input
                type="hidden"
                name="day[Tuesday][diner]"
                class=""
                value="false"
              />
              <input
                type="checkbox"
                name="day[Tuesday][diner]"
                class=""
                value="diner"
              />
            </div>
          </div>
          <div class="ferie hidden" id="Tuesday">
            <div class="d-flex flex-column justify-content-center">
              <h3 class="ferieText">Férie</h3>
            </div>
          </div>
        </div>
        <div class="jourContainer">
          <h3>Mercredi</h3>
          <div class="repasContainer" id="WednesdayRepas">
            <div class="repas green">
              <h4>Petit Déjeuner</h4>
              <p class="Wednesday"></p>
              <input
                type="hidden"
                name="day[Wednesday][petit_dejeuner]"
                class=""
                value="false"
              />
              <input
                type="checkbox"
                name="day[Wednesday][petit_dejeuner]"
                class=""
                value="petit_déjeuner"
              />
            </div>
            <div class="repas grey">
              <h4>Déjeuner A</h4>
              <p class="Wednesday"></p>
              <input
                type="hidden"
                name="day[Wednesday][dejeuner]"
                class="radioWednesday"
                value="false"
              />
              <input
                type="checkbox"
                name="day[Wednesday][dejeuner]"
                class="radioWednesday"
                value="déjeuner_a"
              />
            </div>
            <div class="repas green">
              <h4>Déjeuner B</h4>
              <p class="Wednesday"></p>
              <input
                type="checkbox"
                name="day[Wednesday][dejeuner]"
                class="radioWednesday"
                value="déjeuner_b"
              />
            </div>
            <div class="repas grey">
              <h4>Diner</h4>
              <p class="Wednesday"></p>
              <input
                type="hidden"
                name="day[Wednesday][diner]"
                class=""
                value="false"
              />
              <input
                type="checkbox"
                name="day[Wednesday][diner]"
                class=""
                value="diner"
              />
            </div>
          </div>
          <div class="ferie hidden" id="Wednesday">
            <div class="d-flex flex-column justify-content-center">
              <h3 class="ferieText">Férie</h3>
            </div>
          </div>
        </div>
        <div class="jourContainer">
          <h3>Jeudi</h3>
          <div class="repasContainer" id="ThursdayRepas">
            <div class="repas grey">
              <h4>Petit Déjeuner</h4>
              <p class="Thursday"></p>
              <input
                type="hidden"
                name="day[Thursday][petit_dejeuner]"
                class=""
                value="false"
              />
              <input
                type="checkbox"
                name="day[Thursday][petit_dejeuner]"
                class=""
                value="petit_déjeuner"
              />
            </div>
            <div class="repas green">
              <h4>Déjeuner A</h4>
              <p class="Thursday"></p>
              <input
                type="hidden"
                name="day[Thursday][dejeuner]"
                class="radioThursday"
                value="false"
              />
              <input
                type="checkbox"
                name="day[Thursday][dejeuner]"
                class="radioThursday"
                value="déjeuner_a"
              />
            </div>
            <div class="repas grey">
              <h4>Déjeuner B</h4>
              <p class="Thursday"></p>
              <input
                type="checkbox"
                name="day[Thursday][dejeuner]"
                class="radioThursday"
                value="déjeuner_b"
              />
            </div>
            <div class="repas green">
              <h4>Diner</h4>
              <p class="Thursday"></p>
              <input
                type="hidden"
                name="day[Thursday][diner]"
                class=""
                value="false"
              />
              <input
                type="checkbox"
                name="day[Thursday][diner]"
                class=""
                value="diner"
              />
            </div>
          </div>
          <div class="ferie hidden" id="Thursday">
            <div class="d-flex flex-column justify-content-center">
              <h3 class="ferieText">Férie</h3>
            </div>
          </div>
        </div>
        <div class="jourContainer">
          <h3>Vendredi</h3>
          <div class="repasContainer Monday" id="FridayRepas">
            <div class="repas green">
              <h4>Petit Déjeuner</h4>
              <p class="Friday"></p>
              <input
                type="hidden"
                name="day[Friday][petit_dejeuner]"
                class=""
                value="false"
              />
              <input
                type="checkbox"
                name="day[Friday][petit_dejeuner]"
                class=""
                value="petit_déjeuner"
              />
            </div>
            <div class="repas grey repasVide">
              <h4>Pas de Déjeuner</h4>
            </div>
            <div class="repas green repasVide">
              <h4>Pas de Déjeuner</h4>
            </div>
            <div class="repas grey repasVide">
              <h4>Pas de Diner</h4>
            </div>
          </div>
          <div class="ferie hidden" id="Friday">
            <div class="d-flex flex-column justify-content-center">
              <h3 class="ferieText">Férie</h3>
            </div>
          </div>
        </div>
      </div>
      <div role="alert" id="errorMsg" class="errorMsg alert"></div>
      {% for message in app.flashes('error') %}
      <div role="alert" class="errorMsg">
        {{ message }}
      </div>
      {% endfor %}
      <div
        class="d-flex flex-lg-row flex-column justify-content-between"
        id="menuBottomBar"
      >
        <div>
          Total:
          <input
            type="text"
            class="text-end"
            id="caseTotal"
            value="0"
            disabled
          />
          €
        </div>
        <div class="limitDiv">
          <p>Date limite de Réservation :</p>
          <span id="dateLimit"> </span>
        </div>
        <div>
          <a href=""><button type="button" id="btnReset">Annuler</button></a>
          <button type="submit" id="btnValider">Valider</button>
        </div>
      </div>
    </div>
  </form>
</main>
{% include "nav/footer.html.twig" %}
<div class="js-user" data-tarif="{{ tarifReduit }}"></div>
{% endblock %}
