{% extends 'base.html.twig' %} {% block title %}User Index{% endblock %} {%
block body %} {% include "nav/UserNav.html.twig" %}
<h1>Bienvenue sur votre Hub</h1>
<main>
  <a href="">
    <img src="" alt="" />
    <h2>Réserver mes Repas</h2>
  </a>
  <a href="">
    <img src="" alt="" />
    <h2>Consulter mes Réservations</h2>
  </a>
  <a href="">
    <img src="" alt="" />
    <h2>Consulter mon Profil</h2>
  </a>
</main>
{% include "nav/footer.html.twig" %}
{% endblock %}
