<header>
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <div id="titleDrop"><p>Afpar à la Carte</p></div>
      <a class="navbar-brand" href="{{ path('redirect') }}"
        ><img src="{{ asset('image/afparLogoDroit.png') }}" alt="Logo Afpar"
      /></a>
      <div id="userBadge"><p>Non Connecté</p></div>
    </div>
  </nav>
</header>
