<nav>
  <a href=""><img src="" alt="" /></a>
  <div><a href="">Gérer les Menus</a></div>
  <div><a href="">Récapitulatif des Reservations</a></div>
  <div><a href="">Gerer les Utilisateurs</a></div>
  <div>PlaceHolder</div>
  <button>Se déconnecter</button>
</nav>
