<footer id="userFooter">
  <ul class="d-flex flex-column text-center">
    <li><a href="">Contact</a></li>
    <li><a href="">Mentions Legales</a></li>
    <li><a href="">Politique des cookies</a></li>
    <li><a href="">Charte RGPD</a></li>
  </ul>
  <p class="text-center">
    ® Copyrights Tout droit Réservés. Application réalisé par Alexis Irana.
  </p>
</footer>
