<footer>
  <div class="d-flex flex-column text-center">
    <a href="">Contact</a><a href="">Mentions Legales</a
    ><a href="">Politique des cookies</a><a href="">Charte RGPD</a>
  </div>
  <p class="text-center">® Copyrights Tout droit Réservés. Application réalisé par Alexis Irana.</p>
</footer>
